*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
  /* color: #f2f5fa; */
}

.text-center {
    text-align: center;
  }
  
  .heading-small {
    font-size: 1.25rem;
  }
  .heading-medium {
    font-size: 1.5rem;
  }
  .heading-big {
    font-size: 1.75rem;
  }
  /* Colors */

.bg-primary{
    background: #cc2e38;
  }
  .bg-secondary {
    background: #f89526;
  }
  .bg-tertiary {
    background: #f2f5fa;
  }
.btn{
  margin-top: 1.25rem;
  padding: 0.8rem 2rem;
  border-radius: 0.7rem;
  letter-spacing: 0.5px;
  border-radius: 1px solid white;
}
.btn-primary {
  background: #cc2e38;
  color:#fff;
  font-weight: 700;
  margin: 1rem;
}
.btn-primary:hover {
  color: #cc2e38;
  background: #fff;
  border: 2px solid #cc2e38;
}
.btn-secondary {
  background: #f89526;
  color:#fff;
  font-weight: 700;
  margin: 1rem;
}
.btn-secondary:hover {
  color: #f89526;
  background: #fff;
  border: 2px solid #f89526;
}