.container-footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: auto;
}

.media{

    justify-content: center;
    margin: auto;
    /* margin-right: 2rem; */
}

