*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
header{
    width: 90%;
    /* height: auto; */
    margin: 1rem auto;
    padding: 1rem;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:flex-start;
}
header h1{
    text-align: center;
}
.card {
    display: flex;
    flex-direction:column;
    width: 25%;
    margin: 1rem;
}

img{
    border-radius: 0.5rem;
    width: 24vw;
    height:auto ;
margin: 0.5rem 0;
}
img:hover{
    width: 25vw;
}
.card projectinfo{
display: flex;
}